* {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
}

/* REQUIRED: nav rule */
nav {
  background-color: steelblue;
  padding: 10px;
}

/* REQUIRED: nav a rule */
nav a {
  color: white;
  padding: 10px;
  display: block;
  text-decoration: none;
}

/* REQUIRED: main rule */
main {
  max-width: 800px;
  margin: 0 auto;
  padding: 16px;
}

/* REQUIRED: h1 rule */
h1 {
  color: steelblue;
}

/* REQUIRED: main img rule */
main img {
  width: 150px;
  height: auto;
  border: 1px solid black;
  padding: 2px;
  box-shadow: 0 0 10px gray;
}

/* REQUIRED: p rule */
p {
  padding: 0;
}

/* REQUIRED: aside rule */
aside {
  width: 90%;
  margin: 16px auto;
  border: 1px solid #ccc;
  padding: 16px;
  background-color: #eee;
  color: #000;
}

/* REQUIRED: aside img rule */
aside img {
  width: 200px;
  height: auto;
}

/* REQUIRED: footer rule */
footer {
  margin-top: 24px;
  border-top: 2px solid #cbd5e1;
  text-align: center;
}
